---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/astro-maplibre-template" underline={false}>
        <div class="font-light">
         <image src="./src/assets/img/SameHomeIcon-12.png" style="width:50px;height:50px;"></image>
        </div>
      </Link>      
    </div>
  </Container>
</header>
